/*обнуления*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
* {
	font-family: 'Nunito', sans-serif;
}

body {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
hr {
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.background {
	background-color: white;
	margin: 2.5% 10%;
	padding: 10px 40px;
}
.logo_card {
	display: flex;
	justify-content: space-between;
    margin: 50px 0;
}
.header__card {
	text-align: center;
	color: black;
	transition: all 0.5s;
	text-decoration: none;
	margin: 5px 0;
}
.header__card:hover {
	color: #91ac27;
	transition: all 0.5s;
}
.header__buttons {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__clearCard {}
/*------ Menu ------*/
.menu {
	margin-bottom: 50px;
}
.menu li {
	position: relative;
}
.menu__list {
	display: flex;
	justify-content: center;
}
.menu__list>li {
	margin: 0 40px 0 0;
}
.menu__link {
	padding-bottom: 15px;
	color: black;
	transition: all 0.5s;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}
.menu__link:hover {
	color: #91ac27;
	transition: all 0.5s;
	border-bottom: 2px solid #91ac27;
}
.sub-menu__list {
	display: none;
	margin-top: 14px;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
	z-index: 1;
	padding: 0;
}
.sub-menu__list>li {
	background-color: #f9f9f9;
}
.sub-menu__list>li:first-child {
	border-top: 2px solid #91ac27;
}
.menu__list>li:hover .sub-menu__list {
	display: block;
}
.sub-menu__link {
	display: inline-block;
    padding: 10px;
    color: black;
    transition: all 0.5s;
    text-decoration: none;
}
.sub-menu__link:hover {
	color: #91ac27;
	transition: all 0.5s;
}
.catalog {
	padding-bottom: 15px;
}
/*------ mein------*/
h2 {
	margin: 15px 0;
}
.products {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.products article {
	margin: 0 10px;
}
h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.form__bg {
	background: url(../img/empty-bg.jpg) no-repeat center;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 100px;
}
.form__bg p {
	color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
}
#email {
	width: 246px;
    height: 36px;
    padding: 10px;
}
.submit {
	background: #91ac27;
    width: 246px;
    height: 36px;
    color: white;
    transition: all 0.5s;
    margin: 10px 0;
    font-size: 16px;
}
.submit:hover {
	background: #629c16;
	transition: all 0.5s;
}
/*--------footer--------------*/
.section__article {
	display: flex;
    justify-content: space-between;
}
.section__article article {
	margin: 20px 5px;
}
.section__article article h3 {
	font-size: 28px;
	font-weight: 600;
}
.section__a {
	display: flex;
	justify-content: center;
}
.section__a a {
	margin: 20px 5px;
	background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition: all 0.5s;
}
.section__a a:hover {
	background: #629c16;
	transition: all 0.5s;
}
.section__a a:nth-child(2n) {
	padding-left: 1px;
}
.section__a a:last-child {
	padding-left: 1px;
}
.copyright {
	text-align: center;
	padding: 15px;
}
/*---buttons---*/
.button {
	background: #91ac27;
    width: 246px;
    height: 36px;
    color: white;
    transition: all 0.5s;
    margin: 10px 0;
    font-size: 16px;
}
.button:hover {
	background: #629c16;
	transition: all 0.5s;
}
/*------arrow up-----*/
#buttonTop {
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 60px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonTop:hover {
    cursor: pointer;
    background-color: #333;
    color: white;
}

#buttonTop:active {
    background-color: #555;
    color: white;
}

#buttonTop.show {
    opacity: 1;
    visibility: visible;
}